html
  head
    title='Watson Data Platform'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello IBMers!!!
        p Click the button below to head over to WDP Portal...
        p 
          a.btn.btn-primary(href="https://www.ibm.com/analytics/us/en/watson-data-platform/") Portal
        p